<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
  {% endblock css %}

  {% block headjs %}
  
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div id="container">
      {% block container %}
      <div id="main" role="main">
          <header class="banner clearfix">
          <div id="header-content">
          {% block header -%}
          <h1>John Flanagan</h1>
          {%- endblock %}
          {% block nav %}
          {% from "macros.j2" import render_nav with context %}
          {{ render_nav(menu, 'main_nav') }}
          {% endblock %}
          </div>
          </header>
          <section class="content">
          {% block main %}
          {% endblock main %}
          </section>
      </div>
    {% endblock container %}
  </div> <!--! end of #container -->
  <footer>
  
  </footer>
  {% endblock content%}
  {% block js %}

  {% block scripts %}
  {% endblock scripts %}


  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
